FROM composer:2 AS vendor
WORKDIR /app
COPY composer.json composer.lock* ./
RUN composer install --no-dev --no-scripts --no-progress --prefer-dist

FROM php:{{ runtime.version }}-apache
WORKDIR /var/www/html
COPY --from=vendor /app/vendor ./vendor
COPY . .
RUN a2enmod rewrite
EXPOSE {{ runtime.port }}
